<%= form_for @issue do |f| %>
 
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@issue.errors.count, "error") %> prohibited
        this issue from being saved:
      </h2>
      <ul>
        <% @issue.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
   
    <%= f.hidden_field :route, :value => params[:route] %>

      <%= f.hidden_field :user_id, :value => current_user.id %>


  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
  <p>
<%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
</p>


 
<% end %>