

<h2>Rider issues</h2>
 
 
<table>
  <tr>
    <th>Issue</th>
    <th>Summary</th>
    <th>Manage</th>
     <th colspan="3"></th>
  </tr>
 
  <% @issues.each do |issue| %>
    <tr>
      <td><%= issue.title %></td>
      <td><%= issue.text %></td>
      <td><%= link_to 'Show', issue_path(issue) %></td>
      <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
      <td><%= link_to 'Destroy', issue_path(issue),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>







