<h2>Rider issues</h2>



 
<%= form_for @issue, method: "GET", url: new_issue_path do |f| %>
  <select name="route" id="busdropdown">
    <option value="">Choose Your Route</option>
  </select>
  <%= f.submit "Submit an issue" %>
<% end %>


<%= form_for @issue, method: "GET", url: new_issue_path do |f| %>
  <select name="route" id="favoritesdropdown">
    <option value="">Favorites</option>
    <% current_user.favorites.each do |favorite| %>
    <option><%= favorite.busroute %></option>
  <% end %>
  </select>
  <%= f.submit "Submit an issue" %>
<% end %>


<p>
 
<table class="issuetable">
  <tr>
    <th>Bus Route</th>
    <th>Issue</th>
    <th>Summary</th>
    
     <th colspan="3"></th>
  </tr>
 
  <% @issues.each do |issue| %>
    <tr>
      <td><%= issue.route %></td>
      <td class="width"><%= issue.title %></td>
      <td class="width"><%= issue.text %></td>
      <td><%= link_to 'Show', issue_path(issue) %></td>
      <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
      <td><%= link_to 'Destroy', issue_path(issue),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </p>
  <% end %>
</table>







