<h2>New Issue</h2>

<%= form_for @favorite do |f| %>
  <%= f.text_field :busroute %>
  <%= f.submit "Save this route as a favorite" %>
<% end %>


<%= render 'form' %>
<table class="issuetable">
   <tr>
    <th>Bus Route</th>
    <th>Issue</th>
    <th>Summary</th>
    
     <th colspan="3"></th>
  </tr>
  <% @issues.each do |issue| %>
    <tr>
      <td><%= issue.route %></td>
      <td class="width"><%= issue.title %></td>
      <td class="width"><%= issue.text %></td>
      <td><%= link_to 'View', issue_path(issue) %></td>
      <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
      <td><%= link_to 'Delete', issue_path(issue),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>


 
<%= link_to 'Back', issues_path %>





