<!DOCTYPE html>
<html>
<head>
  <title>Whatsamata</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= stylesheet_link_tag    'application', "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="banner">

<h1>WhatsaMATA<%#= link_to 'WhatsaMATA', issues_path %> </h1>


</div>


<%= yield %>


<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>




