<!DOCTYPE html>
<html>
<head>
  <title>Whatsamata</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="banner">

<h1>WhatsaMATA</h1>

</div>

<p><%#= link_to 'Submit a new issue', new_issue_path %></p>





<!-- <form action="/issues" name="busroutes" method="POST" id="busroutes">
	<div align="center">
		<select name="buses" id="busdropdown">
			<option selected disabled>Choose Your Route</option>	
		</select>
		<input type="submit" value="Submit" />
	</div>
</form> -->






<!-- <form name="busroutes" method="POST" id="busroutes">
<div align="center">
<select name="buses" id="busdropdown">
<option selected disabled>Choose Your Route</option>	
</select> -->



<p><%#= form_for("/submit", method: "get") do %>
<!-- <form name="favorites" action="http://www.mydomain.com/myformhandler.cgi" method="POST" id="favorites">
<div align="center">
<select name="favorites" id="favoritesdropdown">
<option selected disabled>Favorites</option>	
</select>
  <%= submit_tag("Submit") %></p> -->
<%# end %>
</p>





<!-- <button value="Submit">Submit</button> -->



<!-- <p><form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="center">
<select name="mydropdown">
<option selected disabled>Favorites</option>
<option value="63">63</option>
<option value="70">70</option>
</select>
</div>
</form>

<button value="Submit">Submit</button>
</p> -->

<%= yield %>



<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>




